.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: 30px;
  border: 1px solid #4169e1;
  font: inherit;
  cursor: pointer;
  background-color: #4169e1;
  color: #fff;
}

.btn.isSelected {
  background-color: #f44336;
  color: #fff;
}

.btn:hover {
  background-color: #f44336;
  color: #fff;
  border: none;
  box-shadow: 0 2px 8px 1px rgb(65 105 225 / 90%);
}
