.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  margin: 0;
  margin-top: 10px;
  padding: 10px 20px;
}

.wrapper:hover {
  box-shadow: 0 2px 8px 1px rgb(255 0 0 / 90%);
  border: 1px solid #f44336;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;

  font-size: 16px;
  font-weight: 500;
}

.wrapper:hover .number {
  /* color: #00c800e6; */
  color: #f44336;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  color: #f44336;
}

.btn:hover {
  box-shadow: 0 2px 8px 1px rgb(255 0 0 / 90%);
}

.btnTel:hover {
  box-shadow: 0 2px 8px 1px rgb(0, 200, 0);
}

.animate__animated {
  animation-duration: 1s;
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0) scaleY(5);
    transform: translate3d(0, 3000px, 0) scaleY(5);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0) scaleY(0.9);
    transform: translate3d(0, -20px, 0) scaleY(0.9);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0) scaleY(0.95);
    transform: translate3d(0, 10px, 0) scaleY(0.95);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0) scaleY(0.985);
    transform: translate3d(0, -5px, 0) scaleY(0.985);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animate__bounceInUp {
  animation-name: bounceInUp;
}
