.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 50px;
  background-color: #fff;
  color: #010101;
  box-shadow: 0 2px 8px 1px rgb(1 1 1 / 90%);
  border-radius: 50px;
  min-height: 80px;
  min-width: 300px;
}

.field {
  flex-grow: 1;
  padding: 8px;
  font: inherit;
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  margin-right: 10px;
  min-width: 300px;
}

.field:hover {
  box-shadow: 0 2px 8px 1px rgb(255 0 0 / 90%);
  border: 1px solid #f44336;
  color: #f44336;
}

.field:focus {
  outline-color: transparent;
  box-shadow: 0 2px 8px 1px rgb(1 1 1 / 90%);
  color: #f44336;
}

.title {
  color: #010101;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 10px;
}
