.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countInfo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f44336;
  color: #010101;
  font-size: 24px;
  font-weight: bold;
  padding: 10px 20px;
}

.contactSum {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  /* padding: 10px 20px; */
}

.contactSumValue {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f44336;
}

.text {
  text-align: center;
  gap: 12px;

  color: #010101;
  font-size: 20px;
  font-weight: bold;
  background-color: #f44336;
  padding: 10px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
}

@media screen and (max-width: 552px) {
  .countInfo {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .countInfo {
    flex-direction: column;
  }

  .contactSum {
    justify-content: space-between;
  }
}
