.contactList {
  /* display: flex;
  flex-direction: column;
  padding: 50px;
  margin-bottom: 20px;
  border: 2px solid red;
  border-radius: 10px;
  background-color: #f8f8f8; */
}
.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  padding: 10px;
  border: 1px solid #4169e1;
  border-radius: 30px;
  background-color: #f8f8f8;
  margin-top: 10px;
  color: #4169e1;
}

.contactBtn {
  /* padding: 5px; */
  background: white;
  border: 1px solid red;
  border-radius: 50%;
  color: red;
}
