.wrapper {
  position: relative;
  gap: 4px;
}

.inputFilter {
  padding: 8px 12px;
  width: 16px;
  height: 16px;
  font: inherit;
  border: none;
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
  background-color: transparent;
}

.inputFilter:hover {
  box-shadow: 0 2px 8px 1px rgb(255 0 0 / 90%);
  border: 1px solid #f44336;
}

.inputFilter::placeholder {
  color: red;
  opacity: 0;
}

.inputFilter:focus::placeholder {
  opacity: 1;
}

.inputFilter:focus,
.inputFilter:not(:placeholder-shown) {
  width: 250px;
  outline-color: transparent;
  box-shadow: 0 2px 8px 1px rgb(1 1 1 / 90%);
  color: #f44336;
}

.searchImg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.inputFilter:focus + .searchImg,
.inputFilter:not(:placeholder-shown) + .searchImg {
  display: none;
}
