.wrapper {
  gap: 4px;
}

.inputFilter {
  padding: 8px 40px;
  font: inherit;
  border: 1px solid #010101;
  border-radius: 30px;
  color: #010101;
  text-align: center;
}

.inputFilter:hover {
  box-shadow: 0 2px 8px 1px rgb(255 0 0 / 90%);
  border: 1px solid #f44336;
  color: #f44336;
}

.inputFilter:focus {
  outline-color: transparent;
  box-shadow: 0 2px 8px 1px rgb(1 1 1 / 90%);
  color: #f44336;
}
